.wrapper {
	--adm-button-border-radius: 10px;
	@apply text-sm p-[1em];
	&:global(.adm-button-large) {
		@apply text-base;
	}
	&:global(.adm-button-small) {
		@apply text-xs;
	}
}

.dashedWrapper {
	--adm-button-border-style: dashed;
	&:global(.adm-button-fill-outline) {
		@apply text-fz-c1 dark:text-dark-fz-c1;
	}
}

.textWrapper {
	&:global(.adm-button-fill-none) {
		--adm-button-border-radius: 3px;
		@apply text-fz-c1 dark:text-dark-fz-c1;
	}
}
