.wrapper {
	@apply relative bg-bg-primary border-bd-muted border rounded-max px-12 py-1;
	.itemWrapper {
		@apply flex gap-x-12 items-center;
		.tab {
			@apply text-fz-secondary p-3;
			cursor: pointer;
			transition:
				color 0.3s ease,
				font-weight 0.3s ease;
		}

		.tab.active {
			@apply text-fz-primary;
			font-weight: bold;
		}
	}
	.underline {
		@apply bg-fz-primary rounded-max;
		position: absolute;
		bottom: 0.5rem;
		width: 2rem;
		height: 0.2rem;
		opacity: 0;
	}

	.underlineTransition {
		opacity: 1;
		transition: 0.3s ease-out;
	}
}
