/**
 * @file
 * 有些样式是写死的，其实可以配合 style 标签修改，但是暂时不做了
 */
.button {
	@apply cursor-pointer relative;
	background: linear-gradient(to bottom, rgba(38, 53, 50, 0.899), rgba(20, 20, 20, 0.5));
	padding: 0.35em 1.35em; // padding，根据字号自动调节，写死
	@apply rounded-md; // 倒角写死
	transition: opacity 0.1s ease;
	&:hover {
		opacity: 0.95;
	}
}

.button::before {
	content: '';
	@apply absolute position-full rounded-md;
	padding: 1px; // 控制边框粗细，写死的 1
	pointer-events: none; // 确保伪元素不影响按钮交互
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
	mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;
	-webkit-mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
}

.button:hover::before {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}
